a{
    text-decoration: none;
}
.preas-f{
color: crimson;
background-color: purple;
padding: 5px 10px; 
}
.preas-r{
    color: crimson;
    background-color: purple;
    padding: 5px 10px; 
}
.preas-d{
    color: crimson;
    background-color: purple;
    padding: 5px 10px;
}
.preas-g{
    color: crimson;
    background-color: purple;
    padding: 5px 10px; 
    }