.block {
    width: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 3px dashed teal;
}

.item {
    width: 200px;
    height: 200px;
    background-color: red;
}

@media (max-width: 500px) {
    .block {
        width: 400px;
        flex-direction: column;
       align-items: center;
    }

    .item {
        margin-bottom: 10px;
    }
}