.block {
    width: 2000px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    
}

.item {
    width: 1000px;
    height: 200px;
    background-color: black;
    }

.top {
    height: 200px;
    background-color: black;
}

.middle {
    height: 800px;
    background-color: cadetblue;
    display: flex;
}

.bottom {
    height: 200px;
    background-color: black;
}
.block {
    width: 2000px;
    display: flex;
    /* flex-direction: column; */
    
}

.left {
    height: 800px;
    width: 50%;
    background-color: violet;
}

.right {
    height: 800px;
    width: 50%;
    background-color: orange;
}
/* .top {
    height: 200px;
    background-color: black
    flex-direction column;
} */
.img {
    height: 200px;
    width: 30%;
    background-color: purple;

}